#Regist{
  .common-header{
    height:40px;
    background: #f4f4f4;
    width:100%;
    position: relative;
  }
  .common-header span {
    margin-left:15px; 
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-top: 12px;
    border-left: 1px solid #ca0000;
    border-top: 1px solid #ca0000;
    text-indent: -999em;
    overflow: hidden;
    overtransform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  .common-header img{
    height: 20px;
    width: 83px;
    position: absolute;
    left: 145px;
    top:10px;
  }
  .home-wrap{
    height:163px;
    width:100%;
    margin-top: 25px;
    color: #e1e1e1;
    font-size:15px;
  }
  .home-wrap  .name,.home-wrap  .password{
    height:32px;
    margin:15px 20px; 

  }
  .home-wrap input{
    border: 0;
    border-bottom: 1px solid #e1e1e1;
    width:290px;
    height:32px;
    margin-left: 10px;
    color: #e1e1e1;
  }
  
  .home-wrap  .name .name-Icon{
    font-size:22px;
    
  }
  .home-wrap  .password .password-Icon{
    font-size:22px;
  }
  .form-item-btn {
    text-align: center;
    margin-top: 30px;
}
.form-item-btn input{
    width: 75px;
    font-size: 16px;
    height: 34px;
    line-height: 30px;
    border: 0;
    border-radius: 17px;
    color: #fff;
    background-color: #d8544c;
    margin-left: 20px;
}
.form-item-btn .login-btn {
    background: #fff;
    border: 1px solid #aaa;
    color: #aaa;
    margin-right:10px;
}
.other-login{
  float: left;
  width:100%;
  height:60px;
  margin-top:50px;
}
.other-login i {
    display: block;
    height: 1px;
    width:90px;
    background-color: #e1e1e1;
    margin-top: 24px;
    float: left;
}
.other-login .qq-login {
    background-color: #73c5ff;
    width:48px;
    height:48px;
    border-radius: 50%;
    position: relative;
    float: left;

}
.other-login .qq-login  img{
  width:24px;
  height:24px;
  position: absolute;
  left: 12px;
  top: 12px;
  z-index: 2;
}
.span1{
  color:#999;
  position: absolute;
  left: 80px;
  top:335px;
  font-size:18px; 
}
.span2{
  color:#999;
  position: absolute;
  left: 200px;
  top:335px;
  font-size:18px; 
}
.other-login .phone-login {
  background-color: #48d58e;
  background-size: 12px 18px;
  width:48px;
  height:48px;
  border-radius: 50%;
  position: relative;
  float: left;
}
.other-login .phone-login img{
  width:12px;
  height:24px;
  position: absolute;
  left: 17px;
  top:12px;
  z-index: 2;
}
}
