#goodsInfor{
	header{
		height:60px;
		line-height: 60px;
		background: #eee;
		font-size:20px;
		text-align:center;
		#left{
			float: left;
			line-height: 60px;
			font-size: 30px;
		}
		#right{
			float: right;
			line-height: 60px;
			font-size: 30px;
		}
	}
	.loop{
		img{
			width:100%;
			height:375px;
		}
	}
	p{
		height:60px;
		margin-left:20px;
		line-height: 60px;
		font-size:15px;
		span{
			font-size: 15px;
			color:red;
		}
	}
}