#home{

	#search_input{
		width:6.2rem;
		height:0.31rem;
		border:0;
		background:#eee;
		margin:10px;
		margin-left:15px;
		padding:20px;
	}
	.cart{
		font-size:22px;
		margin-top:4px;
	}
	div.ant-tabs-bar{
		margin-bottom:0;
	}
	#img1{
		width: 100%;
	}
	#img2{
		width:100%;
		

	}

}